{% extends "im/base.html" %}

{% block title %}
  <title>
    {% for companion in companions %}
      {{ companion.username }}
    {% endfor %}
  </title>
{% endblock %}

{% block content %}
  <div class='row mt-3'>
    <span>Chat with </span>
    {% for companion in companions %}
            <b>{{ companion.username }}</b>
    {% endfor %}
  </div>
  <div class='row mt-3'>
    <div class='col-12'>
      <form action="{% url 'im:chat' chat.id %}" method="post">
          {% csrf_token %}
          <div class='input-group'>
            <input placeholder='message' class='form-control' type="input" name="message" id="message_input" value="">
            <div class="input-group-append">
              <input class="btn btn-outline-secondary" type="submit" value="Send message">
            </div>
          </div>
      </form>
    </div>
  </div>
  <div class='row mt-3'>
    <table class='table'>
      {% for message in messages %}
        <tr>
          <td>
            <b>{{ message.owner.username }}</b>
          </td>
          <td>
            {{ message.text }}
          </td>
          <td>
            {{ message.sent_date | time }}
          </td>
        </tr>
      {% empty %}
          <div>No messages yet.</div>
      {% endfor %}
    </table>
  </div>
  <div class='row mt-3'>
    <div class="col-4">
      {% if page_obj.has_previous %}
        <div class="input-group">
          <div class="input-group-prepend"> 
            <a class="btn btn-outline-secondary" href="?page=1">First</a>
          </div>
          <div class="input-group-append">
            <a class="btn btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </div>
        </div>
      {% endif %}
    </div>

    <div class='col-4 text-center'>
      <span>{{ page_obj.number }}</span>
      <span>page of</span>
      <span>{{ page_obj.paginator.num_pages }}</span>
    </div>

    <div class='col-4'>
      {% if page_obj.has_next %}
        <div class="input-group">
          <div class="input-group-prepend"> 
            <a class="btn btn-outline-secondary" href="?page={{ page_obj.next_page_number }}">Next</a>
          </div>
          <div class="input-group-append">    
            <a class="btn btn-outline-secondary" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}