<form action="{% url 'im:chat-list' %}" method="post">
    {% csrf_token %}
    <input type="input" name="username" id="message_input" value="">
    <input type="submit" value="Add">
</form>

<div class='chat-list'>
    {% if chats %}
        Here's your chats:
    {% endif %}
    {% for chat in chats %}
        <a  href="{% url 'im:chat' chat.id %}">
            <div class='chat-item'>
                {% for user in chat.users.all %}
                  <span><b>{{ user.username }}</b></span>
                {% endfor %}
                </br>
                <span>{{ chat.message_set.last.text }}</span>
            </div>
        </a>
    {% empty %}
        <div>No chats yet.</div>
    {% endfor %}
</div>

<div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  <span>{{ page_obj.number }}</span>
  <span>of</span>
  <span>{{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}
</div>